.entireTodo {
    font-size: 15px;
    width: 450px;
    padding: 20px;
}
.borderTodo {
    border: 1px solid darkgray;
    padding: 10px;
    background-image: url("abstract.jpg");
}
.inputBlock {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.inputBlock input{
    width: 220px;
    margin-left: 15px;
}
.todoBlock {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.todo {
    font-weight: 500;
}
.todo ul {
    list-style: circle;
}
.deleteButton {
    width: 100px;
    display: inherit;
}
.checked {
    text-decoration: line-through;
    color: forestgreen;
}

@media (max-width: 768px) {
    .entireTodo {
        width: 100%;
    }
}